.wrapper-container {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 16px auto 0;

  .left-section {
    padding-right: 22px;
    width: calc(100% - 322px);

    .headline {
      .title-container {
        font-family: PlusJakartaSans-Bold;
        font-size: 20px;
        line-height: 32px;
        color: #212121;
        margin: 20px 0;
        text-transform: uppercase;
      }
      .big-section {
        display: flex;
        margin-bottom: 30px;
        .img-section {
          width: 50%;
          height: 273px;
          padding-right: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .desc-section {
          width: 50%;
          font-family: PlusJakartaSans-Bold;
          a {
            text-decoration: none;
            display: block;

            &:link,
            &:visited {
              text-decoration: none;
              display: block;
            }
          }

          .title-text {
            text-transform: uppercase;
            color: #949393;
            font-size: 14px;
            line-height: 22.4px;
          }

          .desc-text {
            margin: 16px 0;
            color: #212121;
            font-size: 24px;
            line-height: 38.4px;
          }

          .time-text {
            color: #949393;
            font-size: 14px;
            line-height: 22.4px;
          }
        }
      }

      .small-section {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        .group-section {
          width: 33%;
          .img-section {
            width: 100%;
            height: 178px;
            display: block;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .desc-section {
            font-family: PlusJakartaSans-Bold;

            a {
              display: block;

              &:visited {
                text-decoration: none;
              }

              &:link {
                text-decoration: none;
              }
            }

            .title-text {
              text-transform: uppercase;
              color: #949393;
              font-size: 14px;
              line-height: 22.4px;
              margin-top: 12px;
              font-family: PlusJakartaSans-Bold;
            }

            .desc-text {
              font-size: 16px;
              line-height: 25.6px;
              color: #212121;
              margin: 12px 0;

              &:visited {
                color: #212121;
              }
            }

            .time-text {
              color: #949393;
              font-size: 14px;
              line-height: 22.4px;
            }
          }
        }
      }
    }
  }

  .brt-terkini {
    .title-brt-terkini {
      font-family: PlusJakartaSans-Bold;
      margin: 20px 0;
      font-size: 20px;
      line-height: 32px;
    }
    .group-brt-terkini {
      display: flex;
      clear: both;
      margin-bottom: 20px;
      &.glance {
        display: block !important;
        clear: both;
        margin-bottom: 20px;
        overflow: hidden;
        .img-section {
          float: right;
          width: 49%;
          margin-right: -20px;
        }
        .desc-section {
          float: left;
          width: 51%;
        }
      }

      .img-section {
        width: 39%;
        height: 201px;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .desc-section {
        font-family: PlusJakartaSans-Bold;
        width: 61%;
        a {
          display: block;
        }
        .title-text,
        .title-text:visited,
        .title-text:link {
          color: #949393;
          text-transform: uppercase;
          text-decoration: none;
        }
        .desc-text,
        .desc-text:visited,
        .desc-text:link {
          margin: 20px 0;
          font-size: 20px;
          line-height: 32px;
          text-decoration: none;
          color: #212121;
        }
        .time-text,
        .time-text:visited,
        .time-text:link {
          color: #949393;
          font-size: 16px;
          line-height: 25.6px;
          text-decoration: none;
        }
      }
    }

    .okztv {
      background-color: #1c1a27;
      padding: 25.8px 12px 20px;
      margin-bottom: 20px;
      .head-okztv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .logo-okztv {
          background-image: url(../img/sprite.png);
          width: 121px;
          height: 32px;
          background-position: -168px -451px;
          background-repeat: no-repeat;
          background-size: 655px;
        }
        .text-okztv,
        .text-okztv:visited,
        .text-okztv:link {
          font-family: PlusJakartaSans-Bold;
          font-size: 14px;
          line-height: 21px;
          color: #1c1a27;
          background-color: #fff;
          text-decoration: none;
          padding: 8px 27px;
          border-radius: 8px;
        }
      }
      .content-okztv {
        display: flex;

        .big-content {
          padding-right: 20px;
          width: 56.2%;

          .group-content {
            .img-content {
              width: 100%;
              height: 265px;
              display: block;
              cursor: pointer;
              margin-bottom: 16px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .title-content,
            .title-content:visited,
            .title-content:link {
              color: white;
              font-family: PlusJakartaSans-Bold;
              font-size: 16px;
              line-height: 25.6px;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }

        .small-content {
          width: 43.8%;

          .group-content {
            display: flex;
            padding-bottom: 20.19px;

            .img-content {
              width: 36.2%;
              height: 65.813px;
              padding-right: 20px;
              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .title-content,
            .title-content:visited,
            .title-content:link {
              font-family: PlusJakartaSans-Bold;
              font-size: 14px;
              line-height: 160%;
              color: white;
              width: 63.8%;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .more-news,
  .more-news:visited,
  .more-news:link {
    font-family: PlusJakartaSans-Bold;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    background-color: #1d4595;
    text-decoration: none;
    padding: 16px 64px;
    border-radius: 8px;
    margin: 0 auto;
    width: 264px;
    display: block;
    margin-top: 12px;
  }
}

.right-section {
  width: 300px;
}

#widget-pilihan {
  .title {
    margin: 20px 0 16px;
    font-family: PlusJakartaSans-Bold;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .group-pilihan {
    display: flex;
    margin-bottom: 20px;
    .img-pilihan {
      width: 31.6%;
      margin-right: 11.84px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-pilihan, .text-pilihan:visited, .text-pilihan:link {
      width: 69.3%;
      font-family: PlusJakartaSans-Bold;
      font-size: 14px;
      line-height: 22.4px;
      color: #212121;
      text-decoration: none;
    }
  }
}

#red-sign,
#red-sign:visited,
#red-sign:link {
  font-size: 14px;
  line-height: 22.4px;
  color: #ec2424;
  margin-top: 12px;
  text-decoration: none;
}
